data/
*.log
__pycache__/
*.zip
concoction/data/dataset/jas_cm.c-jas_cmshapmatlut_invert.c.txt
concoction/princeton-nlp.zip
concoction/SIMCSE.zip
concoction/detectionModel/transformer/bert-base-uncased/pytorch_model.bin
concoction/detectionModel/transformer/graphcodebert-base/pytorch_model.bin
concoction/pathSelection/princeton-nlp/sup-simcse-bert-base-uncased/flax_model.msgpack
concoction/pathSelection/princeton-nlp/sup-simcse-bert-base-uncased/pytorch_model.bin
concoction/pretrainedModel/dynamicRepresentation/bert-base-uncased/pytorch_model.bin
concoction/pretrainedModel/dynamicRepresentation/result/pytorch_model.bin
concoction/pretrainedModel/staticRepresentation/graphcodebert-base/pytorch_model.bin
concoction/pretrainedModel/staticRepresentation/trainedModel/pytorch_model.bin
